@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <form asp-action="ManageUsers" method="post">
        <div class="d-flex justify-content-between mb-3">
            <div>
                <button type="submit" name="actionType" value="BlockUser" class="btn btn-warning me-2">Block</button>
                <button type="submit" name="actionType" value="UnblockUser" class="btn btn-success me-2">Unblock</button>
                <button type="submit" name="actionType" value="DeleteUser" class="btn btn-danger">Delete</button>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Last Seen</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Users.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="Users[@i].Id" value="@Model.Users[i].Id" />
                            <input type="checkbox" name="Users[@i].IsSelected" />
                        </td>
                        <td>@Model.Users[i].UserName</td>
                        <td>@Model.Users[i].Email</td>
                        <td>@Model.Users[i].LastLogin.First()</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
